.emacs.d/config.el
.emacs.d/recentf
.emacs.d/places
.emacs.d/tramp
.emacs.d/bookmarks
.emacs.d/.org-id-locations
.emacs.d/.last-package-update-day
.emacs.d/*.dat
.emacs.d/*.eld
.emacs.d/auto-save-list
.emacs.d/backups
.emacs.d/elpa
.emacs.d/eshell/*
.emacs.d/!eshell/alias
.emacs.d/games
.emacs.d/image-dired
.emacs.d/ltximg
.emacs.d/request
.emacs.d/snippets
.emacs.d/transient
.emacs.d/url
.emacs.d/smex-items
