config.el
LICENSE
recentf
places
tramp
bookmarks
.org-id-locations
.last-package-update-day
*.rej
*.dat
*.pdf
*.tex
*.eld
auto-save-list/*
snippets/*
eshell/*
url/*
request/*
elpa/*
ltximg/*
.python-environments/*
