init.el
config.el
LICENSE
recentf
places
tramp
bookmarks
.org-id-locations
.last-package-update-day
*.dat
*.pdf
*.tex
*.eld
.python-environments
auto-save-list
backups
elpa
eshell
games
image-dired
ltximg
request
snippets
transient
url
